@page
@model NMS_Razor.Pages.SystemAccountPage.DetailsModel

@{
    ViewData["Title"] = "Account Details";
    
    string roleName = Model.SystemAccount.AccountRole switch
    {
        1 => "Staff",
        2 => "Lecturer",
        3 => "Admin",
        _ => "Unknown"
    };
}

<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.SystemAccount.AccountName</dd>
        
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.SystemAccount.AccountEmail</dd>
        
        <dt class="col-sm-3">Role</dt>
        <dd class="col-sm-9">@roleName</dd>
        
        <dt class="col-sm-3">Password</dt>
        <dd class="col-sm-9">[Hidden for security]</dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SystemAccount.AccountId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
